<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Danbooru</title>
  <%= csrf_meta_tags %>

  <style>
    body {margin: 0; padding: 0;}
  </style>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var table = new google.visualization.DataTable();
      table.addColumn('date', 'Date');
      <% @report.queries.each do |query| %>
        table.addColumn('number', '<%= j(query) %>');
      <% end %>

      var data = [];
      table.addRows([<%= @report.chart_data.map {|dates, counts| date = dates.to_date; "[new Date(#{date.year}, #{date.month - 1}, #{date.day}), " + counts.join(", ") + "]"}.join(", ") %>]);

      // Set chart options
      var options = {
        'title': 'Uploads',
        'width': 1100,
        'height': 600,
        'hAxis': {
          format: "MMM dd",
          gridlines: {count: 16}
        },
        'vAxis': {
          gridLines: {color: "none"},
          minValue: 0
        },
        'legend': {
          position: 'bottom'
        }
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('chart'));
      chart.draw(table, options);
    }
  </script>
</head>
<body>
  <div id="chart"></div>
</body>
</html>

